.TodoItem {
    padding: 5px;
    margin: 5px;
    border: black 1px solid;
}

.InputForm {
    padding: 10px;
}

.TodoId {
    font-size: 0.7em;
    color: dimgrey;
}

.TodoTextDone {
    text-decoration: line-through;
}

.LinkButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}

.LinkButton:hover,
.LinkButton:focus {
    text-decoration: none;
}